.list {
    min-width: 40%;
    max-width: fit-content;
}

.list-item-custom{
    margin-top: 5px;
    font-size: 20px;
}

.warningOfEmptyList{
    font-size: 20px;
    color : rgb(236, 236, 134);
    align-self: center;
    margin: 0;
    padding: 10px;
}

.warningContainer{
    background: rgba(223, 215, 215,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center; 
}

.list_container {
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons button{
   margin-left: 10px;
}

.edit-todo{
    margin-top: 10px;
    padding: 0;
}
.container-fluid {
    margin-bottom: 50px;
}

.list-title{
    color:black;
    font-size: 20px;
}