.container_del {
  background-color: white;
  padding: 20px;
  max-width: 40%;
  border: 1px solid darkgray;
  margin: 150px auto;
}

.buttons_del {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.dialog_content_del {
  text-align: center;
}
