.content{
  font-family: 'Titillium Web', sans-serif;
  font-size:50px;
  padding-left: 30px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  font-size: 30px;
  color:white;
}

.menu {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to left, rgb(171, 206, 187), rgb(194, 218, 131));
  padding-top: 20px
}

.container{
  padding: 0;
  margin: 0 auto;
  min-width: 100%;
  color: white;
}

.test-but{
  width: 80px;
}

.main{
  padding: 0 30px ;
  display: flex;
  justify-content: space-between;
}

.main-todo{
  width: 50%;
}

.main-category{
  width: 50%;
  margin-left: 30px;
}
