@media (max-width: 1100px) {
  /* common */
  .container {
    padding: 0;
  }
  /* header */
  .blocks {
    flex-direction: column;
    position: static;
    align-items: center;
    padding-bottom: 100px;
  }
  .block {
    width: 60%;
    margin-top: 30px;
    margin-left: 0;
  }
  .header__center__buttons {
    flex-direction: column;
  }
  .header-button {
    margin-top: 20px;
  }
  .header__center-heading {
    max-width: none;
    text-align: center;
  }
  .header__center {
    text-align: center;
  }

  .header__center-text {
    max-width: none;
  }
  .header {
    min-height: 1494px;
  }
  .header__navbar {
    background-color: white;
    justify-content: center;
  }
  .navbar-left {
    white-space: nowrap;
  }

  .navbar__menu {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .navbar__menu-item {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
  }
  .toggler-svg1 {
    display: inline-block;
  }
  .toggler-svg2 {
    display: inline-block;
    padding: 0 10px;
  }
  .toggler-svg3 path {
    fill: #737373;
  }
  .toggler-svg3 {
    padding-right: 10px;
    padding-bottom: 5px;
  }
  .navbar__common {
    display: inline-block;
  }
  .reasons__blocks {
    flex-direction: column;
    align-items: center;
  }
  .reasons-block {
    width: 60%;
  }
  .reasons_common {
    height: 1421px;
  }
  .advice__blocks {
    flex-direction: column;
    align-items: center;
  }
  .advice {
    height: 1898px;
    padding-top: 0;
  }
  .advice-block {
    margin-top: 30px;
    width: 90%;
    text-align: center;
  }
  .advice-header {
    padding: 0;
  }
  .about__content {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    max-width: 333px;
  }

  .video-button {
    left: 115px;
    top: 84px;
  }

  .about__trusted {
    margin-top: 50px;
    padding-left: 0;
    padding-bottom: 50px;
  }
  .clients__panel {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .clients__subscribe {
    margin-top: 50px;
    position: static;
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .clients {
    padding-top: 0;
    background: #fafafa 75%;
    height: 1018px;
  }
  .client-logo {
    margin-top: 60px;
    padding: 40px;
  }
  .connections__blocks {
    flex-direction: column;
    align-items: center;
  }
  .connections {
    height: 1531px;
  }
  .connections-block {
    margin-top: 30px;
    width: 70%;
  }
  .connections-block:hover {
    background: #252b42;
    transform: scaleY(1);
  }
  .footer__contact {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 302px;
  }
  .contant-input {
    margin-top: 50px;
  }
  .links__common {
    flex-direction: column;
    align-items: center;
  }
  .footer__links {
    height: auto;
  }
  .footer-block {
    margin-top: 50px;
    width: 152px;
    text-align: start;
  }
  .contacts {
    margin-top: 50px;
    width: 250px;
    padding-bottom: 50px;
  }
  .footer__copyright {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
  .copyright-desc {
    padding: 20px 0;
  }
}
