/*common*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1046px;
}

/*header 1322px*/

.header {
  margin: 0 auto;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  min-height: 793px;
}

.header__content {
  max-width: 1046px;
  margin: 0 auto;
  position: relative;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  padding: 45px 10px;
}

.navbar-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #252b42;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
}

.navbar__menu-item {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
  padding: 10px 15px;
  cursor: pointer;
}

.toggler-svg3 {
  padding-top: 10px;
  cursor: pointer;
}
.toggler-svg1 {
  display: none;
  cursor: pointer;
}
.toggler-svg2 {
  display: none;
  cursor: pointer;
}

.header__center {
  padding-top: 120px;
}

.header__center-heading {
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  color: #252b42;
  max-width: 509px;
}

.header__center-text {
  padding-top: 35px;
  max-width: 376px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #737373;
}

.header__center__buttons {
  padding-top: 45px;
  display: flex;
}

.header-button {
  margin-left: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #00a0c1;
  padding: 15px 40px;
  background: none;
  border-radius: 26px;
  border: 1px solid #00a0c1;
  cursor: pointer;
}

.header-button:hover {
  background: #ffa62b;
  color: #fff;
}

.blocks {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 380px;
}

.block {
  width: 328px;
  height: 210px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin-left: 30px;
  text-align: center;
}

.block:hover {
  background: #00a0c1;
}

.block:hover path {
  fill: white;
}

.block:hover h3 {
  color: white;
}

.block:hover p {
  color: white;
}

.block-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #252b42;
  padding: 13px 60px 0 40px;
  white-space: nowrap;
}

.block-description {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  padding: 10px 60px 0 40px;
}

.block-svg {
  padding: 30px 0 0 0;
}

/*reasons section*/
.reasons_common {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.reasons {
  background: #fafafa;
  margin: 0 auto;
}

.reasons-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #252b42;
  padding-top: 150px;
  text-align: center;
}

.reasons-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  padding-top: 30px;
  text-align: center;
}

.reasons-heading {
  max-width: 511px;
  align-self: center;
}
.reasons__blocks {
  display: flex;
  justify-content: space-between;
}

.reasons-block {
  margin-top: 50px;
  width: 230px;
  height: 209px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.reasons-header {
  padding: 10px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #252b42;
}

.reasons-text {
  font-weight: bold;
  font-size: 16px;
  color: #737373;
}

/*advice section*/

.advice {
  background: #fafafa;

  margin: 0 auto;
  padding-top: 50px;
}
.advice-common {
  display: flex;
  flex-direction: column;
}
.advice-heading {
  max-width: 470px;
  align-self: center;
}
.advice-header {
  padding-top: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #252b42;
  text-align: center;
}
.advice-desc {
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  text-align: center;
}

.advice__blocks {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
}

.advice-block {
  width: 240px;
  height: 341px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
}

.block-h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #252b42;
  padding: 30px 30px 0 30px;
}

.block-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  padding: 0 30px;
  line-height: 20px;
}

.block-img {
  width: 230px;
  height: 138px;
}

/*about section*/

.about {
  background: white;

  margin: 0 auto;
}

.about__heading {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.about-header {
  align-self: center;
}

.about-h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #252b42;
  max-width: 461px;
  text-align: center;
  line-height: 57px;
}

.about-desc {
  align-self: center;
  max-width: 511px;
}

.about-p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
  line-height: 20px;
  text-align: center;
  padding-top: 30px;
}

.about__content {
  padding-top: 100px;
  display: flex;
  padding-bottom: 100px;
}

.about-img {
  max-width: 597px;
}

.about-video {
  position: relative;
}
.video-button {
  position: absolute;
  left: 240px;
  top: 176px;
  cursor: pointer;
}

.about__trusted {
  padding-left: 120px;
}

.about-description {
  max-width: 330px;
}

.about__blocks {
  padding-top: 20px;
}

.about__blocks-common {
  display: flex;
  flex-direction: column;
  padding-left: 21px;
}
.about-block {
  display: flex;
  padding-top: 30px;
}

.about-h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #252b42;
}

.about-paragraph {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #737373;
}

/*section clients*/
.clients {
  padding-top: 100px;
  background: linear-gradient(to bottom, #fafafa 75%, #252b42 25%);
  min-height: 262px;

  margin: 0 auto;
  position: relative;
}
.clients__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1046px;
  margin: 0 auto;
}

.clients__subscribe {
  height: 124px;
  width: 968px;
  background: #16697a;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.clients__subscribe-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  padding: 30px 0 30px 50px;
  max-width: 258px;
}

#email {
  color: #737373;
  padding: 15px 0 15px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
}
#subscribe {
  color: #ffffff;
  background: #ffa62b;
  border: 1px solid #e6e6e6;
  padding: 15px 22.5px;
  border-radius: 0px 5px 5px 0px;
}

.clients__subscribe-form {
  padding: 33px 48px;
  align-self: center;
}

/*connections*/
.connections-common {
  display: flex;
  flex-direction: column;
}
.connections-heading {
  max-width: 470px;
  align-self: center;
}
.connections {
  padding-top: 100px;

  margin: 0 auto;
  background: #fafafa;
}

.connections__blocks {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.connections-header {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #252b42;
  text-align: center;
}

.connections-desc {
  padding-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #737373;
}

.connections__blocks {
  padding-top: 110px;
}

.connections-block {
  background: white;
  height: 333px;
  width: 328px;
  margin-left: 3px;
  text-align: center;
}

.connections-block:hover {
  background: #252b42;
  transform: scaleY(1.25);
}
.connections-block:hover h6 {
  color: white;
}
.connections-block:hover path {
  fill: white;
}
.connections-block:hover input {
  color: white;
  border: white 1px solid;
}

.connection-svg {
  padding-top: 50px;
  padding-bottom: 15px;
}

.connections-h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #252b42;
}

.connections-h5 {
  padding-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #252b42;
}

.connections-submit {
  margin-top: 15px;
  color: #ffa62b;
  border: #ffa62b 1px solid;
  border-radius: 2px;
  background: none;
  padding: 10px 20px;
  cursor: pointer;
}

/*footer*/
.footer {
  margin: 0 auto;
  background: white;
}
.footer__contact {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1046px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #252b42;
}
.contact-p {
  padding-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.contact-button {
  color: white;
  border: #ffa62b 1px solid;
  background: #ffa62b;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  padding: 15px 40px;
  cursor: pointer;
}

.footer__links {
  padding-bottom: 50px;
  margin: 0 auto;
  background: #16697a;
  color: white;
}

.links__common {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1046px;
  display: flex;
  justify-content: space-between;
}

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.link {
  padding-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}

.contacts-item {
  display: flex;
  padding-top: 10px;
}

.tel {
  padding-left: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.footer__copyright {
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
  max-width: 1046px;
  display: flex;
  justify-content: space-between;
}

.copyright-desc {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
}

.copyright__socials svg {
  padding-left: 20px;
}
