.container{
    text-align: center;
}
.input{
    padding: 10px;
    border-radius: 5px;
    width: 30%;
}
.button {
    padding: 10px;
    background-color: rgb(29, 151, 115);
    color: white;
    border-radius: 5px;
}