.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.todo_item {
  margin: 0 auto;
  min-width: 60%;
  max-width: 100%;
  background-color: white;
  border: 1px solid darkgray;
}

.todo_title {
  border-bottom: 1px solid darkgray;
  padding: 10px;
  text-align: start;
  cursor: pointer;
}

.todo_text {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.todo_text_value{
  text-align: start;
  width: 50%;
  cursor: pointer;
}

.button {
  padding: 2px;
  background-color: rgb(29, 151, 115);
  color: white;
  border-radius: 5px;
  margin: 2px;
}