.wrapper {
  position: fixed;
  bottom: 0;
  width: 1024px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.wrapper.open {
  height: 100%;
  display: block;
}

.wrapper.close {
  height: 0;
  display: none;
}

.container {
  background-color: white;
  padding: 30px;
  max-width: 40%;
  border: 1px solid darkgray;
  margin: 0 auto;
  margin-top: 10%;
}

.footer {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.input_group {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.input_todo_text {
  margin-top: 10px;
}

.buttons {
  display: flex;
}
